/*
 * Наследуемые стили
 */

.width {
	max-width: maxWidth
	min-width: minWidth
	width: 100%
	margin: 0 auto
}

.flex {
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
}

.title {
	font-size: fontSize * 2.1
	font-family: baseFonts
}
	
.caption {
	font-size: fontSize * 2.1
	font-family: titleFonts
}
	
.logo {
	font-size: fontSize * 2.1
	font-family: logoFonts
	letter-spacing: 6px
}
