/*
 * Подлючаем стили переменных
 */
@import 'vars.styl'
/*
 * Подлючаем стили типографии
 */
@import 'typography.styl'

// Миксин для создания медиа-стилей

responsive(screenWidth)
	@media only screen and (max-width: screenWidth)
		{block}
	
