/*!
 * Стили заголовков
 */
 
h1
	font-size fontSiz * 4.5
	color baseColor
	font-family titleFonts
	line-height lineHeight
h2
	font-size fontSiz * 4
	color baseColor
	font-family titleFonts
	line-height lineHeight
h3
	font-size fontSiz * 3.5
	color baseColor
	font-family titleFonts
	line-height lineHeight
h4
	font-size fontSiz * 3
	color baseColor
	font-family titleFonts
	line-height lineHeight
h5
	font-size fontSiz * 2.5
	color baseColor
	font-family titleFonts
	line-height lineHeight
h6
	font-size fontSiz * 2
	color baseColor
	font-family titleFonts
	line-height lineHeight

/*!
 * Стили текста
 */

p
	font-size fontSiz
	color baseColor
	font-family baseFonts
	line-height lineHeight
span
	font-size fontSiz
	color baseColor
	font-family baseFonts
	line-height lineHeight
	
/*!
 * Стили ссылок
 */
 
a
	font-size fontSiz
	color baseColor
	text-decoration none
	display inline-block
	&:focus
		outline 0
	&:hover
		color font-size fontSiz
		color yellowColor