/*
 * Стили заголовков
 */
 
h1
	font-size fontSize * 4.5
	color baseColor
	font-family titleFonts
	line-height lineHeight
h2
	font-size fontSize * 2.2
	color baseColor
	font-family titleFonts
	line-height lineHeight - 0.4
h3
	font-family baseFonts
	font-size fontSize
	color baseColor
	line-height lineHeight - 0.4
h4
	font-size fontSize * 3
	color baseColor
	font-family titleFonts
	line-height lineHeight
h5
	font-size fontSize * 2.5
	color baseColor
	font-family titleFonts
	line-height lineHeight
h6
	font-size fontSize * 2
	color baseColor
	font-family titleFonts
	line-height lineHeight

/*!
 * Стили текста
 */

p
	font-size fontSize
	color baseColor
	font-family baseFonts
	line-height lineHeight + 1
span
	font-size fontSiz
	color baseColor
	font-family baseFonts
	line-height lineHeight
	
/*!
 * Стили ссылок
 */
 
a
	font-size fontSize
	color baseColor
	line-height lineHeight
	text-decoration none
	box-sizing border-box
	&:focus
		outline 0
	&:hover
		color successColor
		font-weight 600

.active
	color successColor
	font-weight 600