baseFonts = 'Roboto', sans-serif
titleFonts = 'Roboto Condensed', sans-serif
baseColor = #242424
fontSize = 14px
lineHeight = 1.4
accentColor = #F24f2C
changeColor = 20%
siteMinWidth = 320px
siteMaxWidth = 1920px
stickyFooterHeight = 230px

xs = 320px
sm = 767px
md = 991px
lg = 1199px
xl = 1680px

/*
 * Color
 */

blueColor = #007bff
indigoColor = #6610f2
purpleColor = #6f42c1
pinkColor = #e83e8c
redColor = #dc3545
orangeColor = #fd7e14
yellowColor = #ffc107
greenColor = #28a745
tealColor = #20c997
cyanColor = #17a2b8
whiteColor = #fff
grayColor = #6c757d
grayDarkColor = #343a40
primaryColor = #007bff
secondaryColor = #6c757d
successColor = #28a745
infoColor = #17a2b8
warningColor = #ffc107
dangerColor = #dc3545
lightColor = #f8f9fa
darkColor = #343a40
