header.site__header.header
	.header__top
		.header__logo.logo
			addr.logo__title(title='Логотоп')
				| minimø
		nav.header__nav.nav
			ul.nav__list
				li.nav__item
					a.nav__link(href="#") lifestyle
				li.nav__item
					a.nav__link(href="#") photodiary
				li.nav__item
					a.nav__link(href="#") travel
				li.nav__item
					a.nav__link(href="#") music