doctype html
html

	include includes/head.pug

	body.body

		.site
			
			include includes/header.pug

			.site__content.content
			
				include blocks/first-page.pug
			
				//- include blocks/one-row.pug
			
				//- include blocks/two-row.pug

				//- include blocks/newsletter.pug

				//- include blocks/free-row.pug

					
			include includes/footer.pug
			
			//- include vidget/vidget-1.pug

			//- include vidget/vidget-2.pug

		script(src='js/vendor.min.js')
		script(src='js/index.min.js')